/* nheritance */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

/* multiple elements */
header,
footer {
  background-color: gray;
}
/* class selector */
.site-title {
  color: white;
}

/* id selector */
#my-image {
  box-shadow: 0 0 2px 1px black;
}
/* list style */
.hobbies {
  list-style: square;
}

/* nth-child selector */
.hobbies li:nth-child(odd) {
  background: lightgreen;
}

/* styling navigation */
nav ul {
  list-style: none;
}

nav li a {
  text-decoration: none;
  background-color: lightgreen;
  border: 4px;
}
li a:hover {
  background-color: coral;
}
