/* Background colors */

.entire {
  background-color: #d4e9e7;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #aad4cf;
  padding-inline: 200px;
}

/* Header with background image  */

.back-image {
  background-image: url(../images/lone-starfish-wide.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  width: 100%;
  position: relative;
}

.main-header {
  padding-top: 150px;
  color: white;
  font-size: 50px;
  text-align: center;
  font-weight: normal;
  position: absolute;
  top: 7%;
  left: 35%;
}

/* setting nav bar */
.nav-option {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  width: 32%;
  text-align: center;
}

.nav-option a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 20px;
}

.nav-option:nth-child(1),
.nav-option:nth-child(2) {
  border-right: 1px solid gray;
}

/* Starfish picture */

.title-starfish {
  font-weight: normal;
  font-size: 30px;
  padding-left: 1%;
  margin-bottom: 1%;
}

.lone-starfish {
  height: 200px;
  width: 200px;
  float: left;
  margin: 9px 20px 18px 10px;
}
.main-text {
  font-size: 16.4px;
  padding-right: 3%;
}

/* Contact box */
