/* Background colors */

.entire {
  background-color: #d4e9e7;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #aad4cf;
  padding-inline: 200px;
}

/* Header with background image  */

.back-image {
  background-image: url(../images/lone-starfish-wide.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
  position: relative;
}

.main-header {
  padding-top: 150px;
  color: white;
  font-size: 50px;
  text-align: center;
  font-weight: normal;
  position: absolute;
  top: 1.5%;
  left: 35%;
}

/* setting nav bar */

/* Starfish picture */

.title-starfish {
  font-weight: normal;
  font-size: 30px;
}

.lone-starfish {
  height: 200px;
  width: 200px;
  float: left;
  margin: 9px 20px 30px 10px;
}
.main-text {
  font-size: 18px;
}

/* Contact box */
