/* Background colors */

.entire {
  background-color: #d4e9e7;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #aad4cf;
  padding-inline: 200px;
}

/* Header with background image  */

/* setting nav bar */

/* Starfish picture */

.title-starfish {
  font-weight: normal;
  font-size: 30px;
}

.lone-starfish {
  height: 200px;
  width: 200px;
  float: left;
  margin: 9px 20px 30px 10px;
}
.main-text {
  font-size: 18px;
}

/* Contact box */
