/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


@media screen and (max-width: 1200px){
  * {
    box-sizing: border-box;
}


body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

/* Navigation */

.wrapper-nav {
  background-color: #222;
  padding: 14px;
}

.logo {
  background-color: #c78c06;
  padding: 10px;
}

nav ul li {
  list-style-type: none;
  background-color: #222;
  text-align: center;
  padding: 16px;
  margin-top: 0;
}

.home-nav {
  background-color: #c78c06;
  padding: 16px;
  margin-top: 0;
  color: #222;
}

nav .home-nav a:visited {
  font-size: 18px;
  color: #222;
  display: block;
}

nav a:visited {
  font-size: 18px;
  color: #c78c06;
  display: block;
}
nav ul li a,
.a1,
.s1,
.t1,
.c1 {
  text-decoration: none;
  color: #c78c06;
}

.search-bar {
  padding: 1px 0 1px 0;
}
.search-bar input {
  background-color: white;
  width: 90%;
  height: 31px;
  margin-top: 5px;
  border: none;
}

.fa-magnifying-glass {
  color: #c78c06;
  padding: 8px;
  border: solid 1px #c78c06;
}

/* Header */

.welcome-header {
  background-image: url(../images/main-banner.jpg);
  background-size: cover;
  padding-top: 68px;
  padding-bottom: 68px;
}

.wrapper-header {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: grid;
  width: auto;
  height: auto;
}
h1 {
  font-size: 81px;
  font-weight: bolder;
  margin-left: 20px;
  padding-top: 50px;
}

.welcome-header p {
  font-size: 16px;
  padding: 20px;
  height: auto;
}

.connect-button {
  height: 100px;
  width: 250px;
  margin-left: 20px;
  margin-bottom: 1rem;
  font-size: 25px;
  color: #222;
  border: none;
  font-weight: lighter;
  background-color: #c78c06;
  margin-top: auto;
}

/* About us */

.wrapper-about {
  background-color: #ffe6ac;
  padding: 14px;
  margin-bottom: auto;
  height: auto;
}
.about-image {
  width: 100%;
  margin-bottom: 20px;
}

.about h2 {
  font-size: 40px;
  line-height: 1;
  padding-top: 9px;
  font-weight: bolder;
  padding-bottom: 7px;
}

.paragraph-about {
  height: auto;
  font-size: 15px;
  margin-top: 10px;
}

/* Our services */

.wrapper-services{
  padding:14px
}

.wrapper-services h2 {
  font-size: 40px;
  margin: 14px 0 10px 0;
  font-weight: bolder;
}

.wrapper-services h3 {
  margin: 20px 20px 10px 20px;
  font-size: 30px;
  font-weight: bolder;
}

.wrapper-services p {
  margin: 0 20px 5px 20px;
  font-weight: 500;
}

.digital,
.marketing,
.video,
.web,
.print {
  background-color: #ffe6ac;
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}

.fa-button {
  color: white;
  padding-left: 15px;
}
.services-button {
  align-items: center;
  border: none;
  text-decoration: none;
  width: 250px;
  padding: 30px 14px;
  margin: 20px 14px;
  color: white;
  background-color: black;
  font-size: 20px;
}

/* Vision */

.wrapper-vision {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  color: #222;
  width: 100%;
  background: url(../images/vision.jpg) center no-repeat;
  background-size: 100%;
  color: white;
  height: 310px;
  font-size: 15px;
  padding: 14px 0 0 14px;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}

.vision-text h3 {
  margin: 18px 0 15px 0;
  font-size: 2rem;
  font-weight: bold;
  width: auto;
  height: auto;
}

.vision button {
  color: white;
  border: solid #c78c06;
  grid-row: 6;
  padding-left: 12px;
  height: 100px;
  width: 250px;
  font-size: 25px;
  font-weight: lighter;
  margin-top: 16px;
  background-color: #17263d;
  letter-spacing: 1px;
}

/* Team*/

.wrapper-team{ 
  padding: 14px;
  padding-bottom: 0px;
}

.team-intro {
  font-size: 40px;
  margin: 20px 0 10px 0;
  font-weight: bolder;
}

.ceo-img , .cfo-img{
  width: 100%;
  height: auto;
  background-color: #ffe6ac;
}

.ceo , .cfo {
  display: flex;
  flex-direction: column;
  background-color: #ffe6ac;
  margin-bottom: 8px;
}


.team-title {
  padding:14px;
  font-size: 30px;
  font-weight: bolder;
}

.team-subtitle {
  font-size: 16px;
  font-weight: bold;
  padding: 14px;
}

.line-team {
  border: 1px solid #c78c06;
  margin: 8px 8px 14px 14px;
}
.team p {
  margin: 0px 20px 20px 20px;
}

/* Contact us */

.wrapper-contact {
  padding: 14px;
}

.contact-title {
  font-size: 40px;
  padding-bottom: 20px;
  margin: 10px;  
  font-weight: bolder;
}

.contact-subtitle {
  font-size: 30px;
  padding-bottom: 10px;
  margin: 10px;  
  font-weight: bolder;
}

.wrapper-contact form {
  display: flex;
  flex-direction: column;
  width: 98%;
  margin: 10px;
  padding: 5px;
}

.wrapper-contact button {
  border: none;
  width: 60px;
  height: 30px;
  margin: 20px;
  background-color: black;
  color: #c78c06;
  font-size: 20px;
  text-align: center;
}

#message {
  padding: 75px;
}

/* Hours */

.wrapper-contact {
  padding: 14px;
}

.hours-title {
  font-size: 30px;
  font-weight: bold;
  padding:14px
}


.wrapper-hours table,
th,
td {
  border: solid 1px black;
  margin-left: 20px;
  vertical-align: middle;
}
.wrapper-hours table {
  width: 100%;
}

th {
  text-align: center;
  background-color: #ffe6ac;
  height: 50px;
}

td {
  padding-left: 14px;
  height: 50px;
}

th:nth-child(1) {
  width: 350px;
}

th:nth-child(2) {
  width: 200px;
}

/* Location */

.wrapper-location h3 {

font-size: 30px;
font-weight: bold;
padding: 14px;
}

.googlemap {
  border: 0;
  width: 99%;
  height: 500px;
  margin: 14px
}

/* Footer */

footer {
  background-color: black;
  color: #c78c06;
  padding: 14px;
  line-height: 2;
  padding-top: 30px;
}

footer a {
  color: #c78c06;
}
}

/* Desktop set up */

@media screen and (min-width: 760px){

  * {
    box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

/* Navigation */

.wrapper-nav{
  display: flex;
  justify-content: space-evenly;
  background-color: #222;
  align-items: center;
}

.home-nav a{      
  background-color: #c78c06;
  color: #222;
  display: block;
  padding: 1rem 1rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav a {
  list-style-type: none;
  text-align: center;
  text-decoration: none;
  margin: 50px;
  color: #c78c06;
}

.input {
  width: 90%;
  padding: 10px;
}

.fa-magnifying-glass {
  background-color: #222;
  border: solid #c78c06;
  color: #c78c06;
  padding: 2px;
}

.logo {
  background-color: #222;
  margin-left: 100px;
}

.logo img {
  width: 75px;
  height: auto;
}

  /* Header */

.welcome-header {
  background-image: url(../images/main-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
  padding: 68px 68px 20px 68px;
}

.wrapper-header {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: grid;
  padding: 20px 50px 14px 14px;
  width: auto;
  height: auto;
}

h1 {
  font-size: 81px;
  font-weight: bolder;
  margin-left: 14px;
  padding-top: 20px;
}

.welcome-header p {
  font-size: 16px;
  padding: 14px;
  height: auto;
}

.connect-button {
  height: 100px;
  width: 250px;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 25px;
  color: #222;
  border: none;
  font-weight: lighter;
  background-color: #c78c06;
  margin-top: auto;
}


/* About us */

.wrapper-about {
  background-color: #ffe6ac;
  padding: 0px 100px 0px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.wrapper-about h2 {
  font-size: 40px;
  padding: 20px 14px 10px 14px;
  font-weight: 700;
  display: flex;
}

.about-image {
  width: 500px;
  float: left;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding-top: 18px;
  padding-bottom: 6px;
}

.paragraph-about {
  font-size: 1rem;
  padding: 0px 7px 14px 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

/* Services */

.wrapper-services {
  padding: 40px;
  padding-top: 50px;
}
  

.services-title {
  font-size: 3.5rem;
  margin: 0px 0 10px 0;
  font-weight: bolder;
}

.wrapper-services h3 {
  font-size: 30px;
  font-weight: 700;
  padding: 10px;
}

.wrapper-services p {
  padding: 9px;
  line-height: 1.5;
}

.services-button {
  align-items: center;
  border: none;
  text-decoration: none;
  width: 92%;
  padding: 30px 40px;
  margin: 10px;
  color: white;
  background-color: black;
  font-size: 25px;
}

.fa-solid {
  padding: 12px;
}

.services-grid {
  display: grid;
  grid-template-areas:
    "digital digital digital marketing marketing marketing"
    "video video web web print print";
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 0.2fr;
  grid-gap: 1em;
}

.digital {
  background-color: #ffe6ac;
  grid-area: digital;
}

.digital-img {
  width: 100%;
  height: auto;
}

.marketing {
  background-color: #ffe6ac;
  grid-area: marketing;
}

.marketing-img {
  width: 100%;
  height: auto;
}

.video {
  background-color: #ffe6ac;
  grid-area: video;
}

.video-img {
  width: 100%;
  height: auto;
}

.web {
  background-color: #ffe6ac;
  grid-area: web;
}

.web-img {
  width: 100%;
  height: auto;
}
.print {
  background-color: #ffe6ac;
  grid-area: print;
}

.print-img {
  width: 100%;
  height: auto;
}

/* Vision */

.wrapper-vision {
  width: auto;
  background: url(../images/vision.jpg) center no-repeat;
  background-size: 100%;
  color: white;
  height: 290px;
  font-size: 15px;
  padding: 30px 130px 30px 130px;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}
  
.vision-text h3 {
  margin: 18px 0 15px 0;
  font-size: 2rem;
  font-weight: bold;
  width: auto;
  height: auto;
}
  
.vision button {
  color: white;
  border: solid #c78c06;
  grid-row: 6;
  padding-left: 12px;
  height: 100px;
  width: 250px;
  font-size: 25px;
  font-weight: lighter;
  margin-top: 16px;
  background-color: #17263d;
  letter-spacing: 1px;
}

/* Team */

.team-intro{    
  font-size: 3.5rem;
  margin: 30px 0 0 0;
  font-weight: bolder;
  padding-left:100px;
}

.team-grid{display: grid;
  grid-template-areas: 
  "ceoimg ceo"
  "cfo cfoimg"
  ;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  margin: 100px;
  margin-top: 30px;
}

.team-title {
  margin: 20px 20px 10px 20px;
  font-size: 2rem;
  font-weight: bolder;
}

.team-subtitle {
  font-size: 1rem;
  font-weight: bold;
  padding: 5px 0 0 14px;
}

.line-team {
  border: 1px solid #c78c06;
  margin: 8px 8px 14px 14px;
}
.team p {
  margin: 0px 20px 20px 20px;
}


.wrapper-team img {
  width: 100%;
  height: auto;
}


.ceo {
  background-color: #ffe6ac;
  padding-bottom: 10px;
  grid-area: ceo;
}

.ceo-img {
  grid-area: ceoimg;
}

.cfo {
  background-color: #ffe6ac;
  padding-bottom: 10px;
  grid-area: cfo;
}

.cfo-img {
  grid-area: cfoimg;
}

/* Contact us */


.contact-grid {
  display: grid;
  grid-template-areas: "contact location"
  "hours hours"
  ;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  padding-left: 100px;
  padding-top: 0;
}

.wrapper-contact {
  padding: 10px;
  grid-area: contact;
}

.contact-title {
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact-subtitle {
  padding-bottom: 10px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
}

.wrapper-contact button {
  border: none;
  width: 60px;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: black;
  color: #c78c06;
  font-size: 20px;
  text-align: center;
}

#fullname {
  width: 98%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

#email {
  width: 98%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

#message {
  width: 98%;
  padding: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}


/* Location */


.wrapper-location {
  padding: 10px;
  grid-area: location;
}

.wrapper-location h3 {
  margin-bottom: 15px;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 18px;
}

.wrapper-location iframe {
  width: 80%;
  border: 0;
  height: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Hours */

.hours {
  padding: 10px;
  grid-area: hours;
}

.hours h2 {
  font-size: 30px;
  font-weight: 700;
  padding: 10px;
}
.hours-title{
  margin-bottom: 15px;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 18px;
}
.hours table {
  border: 1px solid;
  width: 100%;
  margin: 0px;
  padding: 100px 100px 100px 100px;
}

.hours th, td {
  border: 1px solid;
  padding: 10px;
}

.hours th {
  background-color: #ffe6ac;
}


/* Footer */

footer {
  background-color: #222;
  color: #c78c06;
  padding: 20px;
  line-height: 3rem;
}

footer a {
  color: #c78c06;
}
}
